.tabs {
  //Tab de base
  @include tab();

  //Variante 1
  &.tabs--style-1 {
    .tabs-content-second-column {
      padding-top: 60px; //Pas propre mais avec la grid c'est compliqué de bien gérer l'alignement des éléments

      span { display: none;}
      h2 { display: none;}
    }
  }
}
