.dropcap-1{
    line-height: 25px;

    &::first-letter{
        font-size: 6em;
        font-weight: bold;
        color: #818cff;
        float:left;
        padding: 0.1em 0.5em 0.1em 0.5em;
    }
}

.dropcap-2{
    line-height: 25px;

    &::first-letter{
        font-size: 3.6em;
        font-weight: bold;
        background-image: linear-gradient(to right,#79ccff, #818cff);
        color: white;
        float: left;
        padding: 0.5em 0.5em 0.5em 0.5em;
        margin: 0 30px 30px 0;
    }
}

.dropcap-3{
    line-height: 25px;

    &::first-letter{
        font-size: 6em;
        font-style: italic;
        font-weight:bold;
        background-image: linear-gradient(to bottom,#79ccff 0%, #818cff 100%);
        background-clip: text;
        color: transparent;
        float:left;
        padding: 0.1em 0.3em 0.1em 0.3em;
        margin-left: 20px; 
    }
}

.dropcap-4{
    line-height: 25px;

    &::first-letter{
        font-size: 3.6em;
        font-weight: bold;
        background-image: linear-gradient(to right,#79ccff, #818cff);
        border-radius: 50%;
        color: white;
        float:left;
        padding: 0.5em 0.5em 0.5em 0.5em;
        margin: 0 30px 30px 0;
    }
}