// Ne marche qua'avec 2 couleurs et l'effet est à 45° 
//Pas utiliser car pas utile
@mixin gradient-maker($color1: $white, $color2: $black){
    background-image: linear-gradient( 45deg, $color1 0%, $color2 100%);
}

.gradient {
    width: 360px;
    height: 470px;
    background-image: linear-gradient( 45deg, $white 0%, $black 100%); //Par défaut

    &.--type-1 { background-image: linear-gradient( 45deg, rgb(121,204,255) 0%, rgb(155,116,255) 100%);}
    &.--type-2 { background-image: linear-gradient( 45deg, rgb(26,255,236) 0%, rgb(159,79,249) 100%);}
    &.--type-3 { background-image: linear-gradient( 45deg, rgb(255,70,70) 0%, rgb(255,38,217) 100%);}

    &.--type-4 { background-image: linear-gradient( 45deg, rgb(121,255,143) 0%, rgb(123,116,255) 100%);}
    &.--type-5 { background-image: linear-gradient( 45deg, rgb(255,206,58) 0%, rgb(255,14,105) 100%);}
    &.--type-6 { background-image: linear-gradient( 45deg, rgb(255,206,121) 0%, rgb(155,116,255) 100%);}

    &.--type-7 { background-image: linear-gradient( 45deg, rgb(222,146,133) 0%,rgb(104,102,255) 100%);}
    &.--type-8 { background-image: linear-gradient( 45deg, rgb(121,255,124) 0%, rgb(255,189,74) 100%);}
    &.--type-9 { background-image: linear-gradient( 45deg, rgb(0,255,240) 0%, rgb(211,34,255) 100%);}

    &.--type-10 { background-image: linear-gradient( 45deg, rgb(255,45,114) 0%, rgb(255,171,121) 100%);}
    &.--type-11 { background-image: linear-gradient( 45deg, rgb(255,24,171) 0%, rgb(110,3,255) 65%);}
    &.--type-12 { background-image: linear-gradient( 45deg, rgb(0,255,216) 0%, rgb(0,126,255) 100%);}
}