// Borders, background and picto colors
$pink: #ff427c;
$pink-blue: #6270ff; 
$violet: #ba4eff;
$yellow: #ffcc44;

// Fonts
$dark-grey: #2e2e2e;
$light-grey: #838383;

.message {
    display: flex;
    background: $pink-blue;
    padding: 40px 30px;
    
    i {
        font-size: 3em;
        color: $white;
    }

    h4 {color: $white;}
    p{ color: $white;}



    [class*="col-"] {margin:0;}

    // Colors 
    &.--pink { background: $pink;}
    &.--violet { background: $violet;}
    &.--yellow { background: $yellow;}
    &.--full-size {
        width: 100%;
        display: flex;
        justify-content: center;
        i{ padding-right: 30px; }
    }

    //No paragraph
    &.--no-descr {padding: 20px 30px;}

    //With borders - no background
    &.--border { 
        border: 2px solid $pink-blue;
        background: transparent;
        i {color: $pink-blue; }
        h4 {color: $dark-grey;}
        p{ color: $light-grey;}


        &.-border--pink {
            border: 2px solid $pink;

            i { color: $pink;}
        }

        &.-border--violet {
            border: 2px solid $violet;

            i {color: $violet;}
        }

        &.-border--yellow {
            border: 2px solid $yellow;

            i {color: $yellow;}
        }
    }


}