// Ce qui change est la dispositon de la grid dans l'HTML,
// très peu de CSS

.txt-img {
  figure {
    background-color: lightgrey;
    width: 100%;
    height: 200px;
    margin: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }
  span {
      font-size: 1.2em;
      color: #838383;
      text-transform: uppercase;
      a {
          text-decoration: none;
          color: #2e2e2e;
          font-weight: 700;
      }
  }
  h3 {
    margin-top: 75px;
    margin-bottom: 60px;
    color: #2e2e2e;
  }
  p {
    font-size: 15px;
    color: #838383;
    text-align: justify;
    line-height: 2em;
    margin-bottom:0;
  }

  &.--side-by-side { h3 { margin: 0; }} 
  &.--image-shorter { figure {height: 175px;}}
  &.--active {box-shadow: 0px 26px 38px 0px rgba(0, 0, 0, 0.5);}

}

.chest-effect {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    [class*="col-"] { margin: 0; }

    .color-side {
        width: 50%;
        height: 800px;
        background-color: #6270ff;
    }

    .txt-img {
        padding: 200px 255px; //Responsive bug
        flex-grow: 1;
    }
}

.discover {
    background: #ecedf7;
    margin-top: 100px;
    padding: 100px 0 100px 0;

    .row{margin: 0;}

    .txt-img {
        background: $white;
        .content {
            padding: 70px 70px 30px 30px;

            p{margin-bottom: 50px;}
        }
    }
}
  
  