/****************************************************
********************Bw Modelica**********************
****************************************************/
@font-face {
  font-family: "Bw Modelica";
  src: url(../../font/Bw_Modelica/BwModelica-Regular.woff) format("woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Bw Modelica";
  src: url(../../font/Bw_Modelica/BwModelica-Bold.woff) format("woff");
  font-weight: bold; }

@font-face {
  font-family: "Bw Modelica";
  src: url(../../font/Bw_Modelica/BwModelica-ExtraBold.woff) format("woff");
  font-weight: 800; }

@font-face {
  font-family: "Bw Modelica";
  src: url(../../font/Bw_Modelica/BwModelica-Medium.woff) format("woff");
  font-weight: 500; }

@font-face {
  font-family: "Bw Modelica";
  src: url(../../font/Bw_Modelica/BwModelica-RegularItalic.woff) format("woff");
  font-style: italic;
  font-weight: normal; }

@font-face {
  font-family: "Bw Modelica";
  src: url(../../font/Bw_Modelica/BwModelica-BoldItalic.woff) format("woff");
  font-style: italic;
  font-weight: bold; }
