header {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .logo {
      img { display: block; }
    }

    .menu-right-side {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      ul {
        display: flex;
        flex-wrap: wrap;
        // Annuler les propriété du ul
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            position: relative;
          a {
            font-size: 1.4em;
            color: $text_nav_color;
            font-weight: 500;
            text-decoration: none;
            display: block; // Cliquable partout (pas que le texte)
            padding: 30px 20px;

            &.--active { 
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 5px;
                    background-image: linear-gradient(to right, #6270ff , #79ccff);
                }
            }

            &:hover { 
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 5px;
                    background-image: linear-gradient(to right, #6270ff , #79ccff);
                  }
            }
          }
        }
      }

      .call {
        background: $background_phone;
        padding: 25px 30px;
        margin-right: 20px;
        display: block;
        img {
          display: block;
           width: 25px;
           height: 25px; 
        }
      }

      .phone-number {
        font-weight: bold;
        font-size: 1.8em;
        color: $text_nav_color;
      }
    }
  }
}
