@mixin tab{
    .tabs-nav {
        ul {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          margin: 0;
    
          li {
            list-style-type: none;
            background: #f1f6f9;
            width: 100%;
            font-size: 1.5em;
            font-weight: 500;
            position: relative;
            padding: 20px 0 20px 20px;
            cursor: pointer;
    
            //Tout sauf le 1er
            & + li {margin-top: 10px;}
    
            //Class de l'onglet actif/ courant
            &.tabs-nav-item--active {
              background: #6270ff;
              padding-left: 30px;
    
              &::before {
                content:"";
                position:absolute;
                top: 0;
                left: 0;
                width: 10px;
                height: 100%;
                background-image: linear-gradient(to top, #78c7ff , #6376ff);
              }
            }
    
            &:hover {
              background: #6270ff;
              padding-left: 30px;
    
              &::before {
                content:"";
                position:absolute;
                top: 0;
                left: 0;
                width: 10px;
                height: 100%;
                background-image: linear-gradient(to top, #78c7ff , #6376ff);
              }
            }
          }
        }
      }
    
      .tabs-content {
        display: flex;
    
        span{
          display: block;
          text-transform: uppercase;
          font-size: 1.2em;
          color: #838383;
          margin-bottom: 20px;
        }
    
        h2 { margin-bottom: 100px;} //Allow to align with the bottom 
    
        p { line-height: 28px; }
    
        &.tabs-content--inactive { display: none; } // JavaScript tabs.js
      }
}